* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e3540;
  margin: 0;    
  padding: 0;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2e3540;
  max-width: 100%;
  height: 90px;
}

a {
  text-decoration: none;
  color: #f1da44;
  display: flex;
  justify-content: center;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-right: 10px;
}

h1 {
  display: flex;
  align-items: center;
  width: 653px;
  height: 250px;
  text-align: center;
  text-shadow: #000 2px 3px 4px; 
  font-size: 4rem;
  color: #dee7e6;
}

h2 {
  margin: 0;
  padding: 0;
  border: 0;
}

p{
  margin: 0;
  padding: 0;
}

.contenedor-logo-marca {
  display: flex;
  align-items: center;
  }

.contenedor-marca{
  display: flex;
  align-items: center;
  margin: 5px;
}

#Marca {
  display: flex;
  font-size: 1rem;
  text-align: center;
  text-shadow: #000 2px 3px 4px;
  width: 100%;
  height: 100%;
  color: #dee7e6;
  margin: 0;
  padding: 0;
}

.logo-cas {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 0 1rem 0 1rem;
}

.Barra-de-navegación{
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  margin: 0;
}

.botones {  
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;    
}

.boton {
  display: flex;
  margin: 0 1rem 0 1rem;
  padding: 10px; 
  font-weight: bold;
  text-transform: uppercase; 
  font-size: 1rem;
  } 
  
.primera-seccion {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("Banner pag club .jpg");
  background-size: cover;
  background-position: center;
  border-top: 10px solid #f1da44; 
  border-bottom: 10px solid #f1da44; 
  max-width: 100%;
  height: 320px;
}

.tercer-bloque {
  display: flex;
  align-items: center;
  justify-content: center;
}

.segunda-seccion {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0.5rem;
  } 

.contenedor-segunda-seccion {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-contenedor-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 1rem;
}

.sobre-nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #2e3540;
  padding: 1rem;
  background-color: #f1da44;
  width: 100%;
  border-radius: 8px;
}

.somos-el-club {
  display: flex;
  color: #dee7e6;
  margin: 2rem 1rem 1rem 1rem;
  font-size: 1.3rem;
  text-align: left;
  max-width: 60%;
  height: auto;
}

.cuadricula-imagenes {
  display: flex;
  justify-content: center;
  max-width: 40%;
}

.fila-imagenes {
  display: flex;
  flex-direction: column;
}

.img-sobre-nosotros {
  width: 15rem; /* Ajusta el tamaño de cada imagen */
  height: 11rem; /* Establece la altura deseada */
  border-radius: 8px;
  margin: 0.5rem;
}

@media (max-width: 768px) {
  .img-sobre-nosotros {
    width: 100%; /* En dispositivos más pequeños, las imágenes ocuparán el ancho completo */
    margin-right: 0; /* Elimina el margen derecho en dispositivos más pequeños */
  }
}

.tercera-seccion {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 456px;
}

.titulo-partidos h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #2e3540;
  padding: 1rem;
  background-color: #f1da44;
  width: 100%;
  border-radius: 8px;
}

.fechas {
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
  height: 100%;
  margin: 1rem;
}

.partidos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: grey;
  max-width: 100%;
  height: auto;
  margin: 1rem;
  padding: 2rem;
}

.partidos h3 { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  color: #f1da44;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem;
}

.partidos p {
  display: flex;
  justify-content: center;
  text-align: left;
  font-size: 1.3rem;
  margin: 0.3rem;
  color: #dee7e6;
  height: 70%;
}

.cuarta-seccion {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  width: 80%;
  margin: 1rem;
}

.titulo-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #2e3540;
  padding: 1rem;
  background-color: #f1da44;
  border-radius: 8px;
}

.texto-contacto {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 1rem;
  color: #dee7e6;
}

.negrita ion-icon {
  color: #f1da44;
  position: relative;
  top: 3px;
}

.sub-contenedor-5 {
  display: flex;
  justify-content: space-evenly;
} 

.sub-contenedor-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 1rem;
}

.negrita {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: #dee7e6;
  margin-bottom: 1rem;
}

.ref {
  font-size: 1.3rem;
  text-align: start;
  color: #dee7e6;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.quinta-seccion {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.sponsors {
  max-width: 100%;
  height: auto;
  display: flex;
}  

.contenedor-sponsor{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  width:-webkit-fill-available; 
}

.logo-sponsor {
  width: 60%;
  height: 45%;
}

footer {
  background-color: #2e3540;
  text-align: center;
  border-top: 10px solid #f1da44;  
  font-size: 0.9rem;  
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin: 0 auto;
}

.sub-contenedor-8 { 
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  width: 100%;
}

.columnas-footer {
  display: flex;
  margin: 2rem;
  }

.copyright {
  font-size: 0.9rem;
  color: #67727a;
  margin: 0.5rem;
}

.lista-footer {
  list-style: none;
  padding: 0;
  display: flex;
}

.lista-footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista-footer li {
  display: flex;
  margin-right: 20px;
}

.lista-footer a {
  color: #67727a;
}

.redes-sociales li {
  display: inline-block;
  margin-right: 0.6rem;
}

.redes-sociales ion-icon{
  color: #67727a;
}
