* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2e3540;
  margin: 0;    
  padding: 0;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2e3540;
  max-width: 100%;
  height: 90px;
}

a {
  text-decoration: none;
  color: #f1da44;
  display: flex;
  justify-content: center;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-right: 10px;
}

h1 {
  display: flex;
  align-items: center;
  width: 653px;
  height: 250px;
  text-align: center;
  text-shadow: #000 2px 3px 4px; 
  font-size: 4rem;
  color: #dee7e6;
}

h2 {
  margin: 0;
  padding: 0;
  border: 0;
}

p{
  margin: 0;
  padding: 0;
}

.contenedor-logo-marca {
  display: flex;
  align-items: center;
  }

.contenedor-marca{
  display: flex;
  align-items: center;
  margin: 5px;
}

#Marca {
  display: flex;
  font-size: 1rem;
  text-align: center;
  text-shadow: #000 2px 3px 4px;
  width: 100%;
  height: 100%;
  color: #dee7e6;
  margin: 0;
  padding: 0;
}

.logo-cas {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 0 1rem 0 1rem;
}

.Barra-de-navegación{
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  margin: 0;
}

.botones {  
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;    
}

.boton {
  display: flex;
  margin: 0 1rem 0 1rem;
  padding: 10px; 
  font-weight: bold;
  text-transform: uppercase; 
  font-size: 1rem;
  } 
  
.primera-seccion {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("Banner pag club .jpg");
  background-size: cover;
  background-position: center;
  border-top: 10px solid #f1da44; 
  border-bottom: 10px solid #f1da44; 
  max-width: 100%;
  height: 320px;
}

.tercer-bloque {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tercera-seccion {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  margin: 0.5rem;
}

.contenedor {
  display: flex;
  justify-content: space-evenly; 
  width: 80%;
  height: 100%;
  margin: 1rem;
}

.contenedor-cuadrado {
  width: 100%;
  height: auto; 
  display: flex;
  justify-content: center;
  margin: 0;
}

.cuadrado {
  max-width: 76%;
  height: auto;
  background-color: #f1da44;
  border-radius: 15px;
  margin: 1rem;
}

.Misión {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem;
  color:#2e3540;
  background-color: #f1da44;
}

.texto-Misión {
  display: flex;
  justify-content: center;
  text-align: left;
  font-size: 1.3rem;
  margin: 1rem;
  padding: 1rem;
  color: #2e3540;
  height: 70%;
}

.lista-valores{
  list-style: none;
  font-size: 1.3rem;
  color: #2e3540;
  margin: 1rem;  
  padding-left: 0;
}

.valores ion-icon {
  margin-bottom: 10px;
  color: #2e3540;
  position: relative;
  top: 0.75rem;
}

footer {
  background-color: #2e3540;
  text-align: center;
  border-top: 10px solid #f1da44;  
  font-size: 0.9rem;  
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin: 0 auto;
}

.sub-contenedor-8 { 
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  width: 100%;
}

.columnas-footer {
  display: flex;
  margin: 2rem;
  }

.copyright {
  font-size: 0.9rem;
  color: #67727a;
  margin: 0.5rem;
}

.lista-footer {
  list-style: none;
  padding: 0;
  display: flex;
}

.lista-footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista-footer li {
  display: flex;
  margin-right: 20px;
}

.lista-footer a {
  color: #67727a;
}

.redes-sociales li {
  display: inline-block;
  margin-right: 0.6rem;
}

.redes-sociales ion-icon{
  color: #67727a;
}
